<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("Styles", required: false)
</head>

<body style="margin:0; overflow:hidden;">
    @RenderBody()
    @RenderSection("ScriptsJs", required: false)
</body>
</html>
