html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.clase-en-vivo-container {
    width: 100vw;
    height: 100vh;
    background-color: #000;
}

.video-container,
#jitsi-meet {
    width: 100%;
    height: 100%;
}
