@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="alert alert-danger text-center" role="alertdialog">Acceso denegado. No tiene autorización para acceder a esta sección del sitio web. Por favor, contacte al administrador si cree que esto es un error.</h1>

<div class="d-flex align-items-center justify-content-center">
    <img src="https://media.tenor.com/aGHXx8Iwf6kAAAAi/watch-out.gif" />
</div>
