@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
}

<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow p-0">
        <div class="container-fluid headerNormal py-1">
            @if(Context.Session.GetString("rolLogueado") == "Docente")
            {
                <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursosDocente">
                    <img src="~/img/logo.png" alt="Logo de NextLevel">
                </a>
            }
            else
            {
                <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursos">
                    <img src="~/img/logo.png" alt="Logo de NextLevel">
                </a>
            }

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            @if (Context.Session.GetString("rolLogueado") == null)
            {
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursos">Inicio</a>
                        </li>
                    </ul>
                </div>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Login">Ingresar/Registro</a>
                    </li>
                </ul>
            }
            else
            {
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (Context.Session.GetString("rolLogueado") == "Estudiante")
                        {
                            if (!(currentController == "Estudiantes" && currentAction == "ListadoCursosEstudiante"))
                            {
                                <li class="nav-item">
                                    <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursosEstudiante">Mis cursos</a>
                                </li>
                            }
                            if (!(currentController == "Cursos" && currentAction == "ListadoCursos"))
                            {
                                <li class="nav-item">
                                    <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursos">Explorar</a>
                                </li>
                            }
                        }
                        else if (Context.Session.GetString("rolLogueado") == "Docente")
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Cursos" asp-action="ListadoCursosDocente">Tus Cursos</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="navbar-brand" asp-area="" asp-controller="Postulaciones" asp-action="PostulacionesAdministrador">Postulaciones</a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav ms-auto">

                        <li class="nav-item dropdown">

                            <button class="nav-link dropdown-toggle d-flex align-items-center border-0 bg-transparent"
                                    id="perfilMenu"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">

                                <img src="~/img/perfil.png"
                                     alt="Perfil"
                                     style="width:32px; height:32px; border-radius:50%; object-fit:cover;">
                            </button>

                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="perfilMenu" style="z-index: 10000000">

                                @if (Context.Session.GetString("rolLogueado") == "Estudiante")
                                {
                                    <li>
                                        <a class="dropdown-item" asp-controller="Estudiantes" asp-action="Perfil">
                                            <i class="bi bi-person"></i> Mi perfil
                                        </a>
                                    </li>
                                }
                                else if (Context.Session.GetString("rolLogueado") == "Docente")
                                {
                                    <li>
                                        <a class="dropdown-item" asp-controller="Docentes" asp-action="Perfil">
                                            <i class="bi bi-person"></i> Mi perfil
                                        </a>
                                    </li>
                                }

                                <li><hr class="dropdown-divider"></li>

                                <li>
                                    <a class="dropdown-item text-danger" asp-controller="Usuarios" asp-action="LogOut">
                                        <i class="bi bi-box-arrow-right"></i> Cerrar sesión
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
            }
        </div>
    </nav>
</header>
