html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.headerNormal {
    background-color: lightblue;

}

.navbar-brand {
    display: inline-block !important;
    width: auto !important;
    height: auto !important;
    line-height: 0 !important;
}

    .navbar-brand img {
        margin-right: 1rem;
        width: 2.5rem;
        display: block;
    }


